__pycache__/*
basemodel/__pycache__/*
data/*
model/__pycache__/*
old_datasets/*
Reason4Rec/Data/Data_of_Reason4Rec.zip
basemodel/model/__pycache__/*
datasets/*
seq_ensemble/__pycache__/*
seq_ensemble/model/__pycache__/*
rec/__pycache__/*
rec/model/__pycache__/*
rec/module/__pycache__/*
base_model_results/*
cache/*
vpn/*
base_model_results.zip
.ipynb_checkpoints/requirements-checkpoint.txt
rec/.ipynb_checkpoints/main-checkpoint.py
rec/config/.ipynb_checkpoints/seq_llm-checkpoint.yaml
rec/bpr/__pycache__/*
bpr/module/__pycache__/learn.cpython-310.pyc
bpr/module/__pycache__/llm_cem.cpython-310.pyc
score/module/__pycache__/learn.cpython-310.pyc
score/module/__pycache__/llm_cem.cpython-310.pyc
bpr/__pycache__/data.cpython-310.pyc
bpr/__pycache__/model.cpython-310.pyc
bpr/ckpt/*
